$rc-navy: #15264c;
$rc-blue: #005edc;
$rc-buttontextblue: #006;
$rc-yellow: #fdbb11;
$rc-grey: #4a4a4a;
$white: #ffffff;
$black: #000000;
$chat-navy: #0C214D;
$chat-black: #1E1E1E;
$chat-gray: rgba(217, 217, 217, 0.65);

