@use '../../styles/partials/global' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.chat-box {
    &--home {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    &__open-button {
        background-color: $chat-navy;
    }
}