@use '../../styles/partials/global' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.chat-box {
    position: fixed;
    bottom: 6rem;
    right: 1rem;
    background-color: $white;
    border-radius: 10px;
    width: 23.7rem;
    height: 33.5rem;
    border: 0.25px solid $black;
    @include flexbox (flex-start, stretch, column);
    
    &__header {
        position: sticky;
        background-color: $chat-navy;
        @include flexbox;
        border-radius: 7px 7px 10px 10px;
        padding: 1rem;
    }

    &__back {
        margin-right: 2.19rem;
        cursor: pointer;
    }

    &__headline {
        padding-left: 0.67rem;
    }

    &__title {
        @include p2($white);
        font-size: 1.25rem;
        line-height: 100%;
    }

    &__subtitle {
        @include p2($white);
        font-size: 1rem;
        line-height: 100%;
    }

    &__main {
        flex-grow: 1;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__date {
        position: sticky;
        width: fit-content;
        margin: auto;
        margin-top: 0.94rem;
        padding: 0.17rem 1.83rem;
        background-color: $chat-navy;
        border-radius: 20px;
        @include p2($white);
        line-height: 100%;
        font-size: 1rem;
    }

    &__form {
        position: sticky;
        border-top: 0.5px solid $black;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1) inset;
        bottom: 0;
    }

    &__input { 
        border: none;
        width: 100%;
        font-size: 1.25rem;
        padding: 0.98rem 1.08rem 1.48rem 1.08rem;
        background-color: transparent;

        &::placeholder {
            font-family: $ProxNov;
            font-size: 1.25rem;
            color: #767D89
        }

        &:focus {
            outline: none;
        }
    }
}

.header-avatar {
    &__container {
        border: 3px solid $white;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 20px;
        background-image: url('../../assets/icons/bot-image.png');
        background-position: 50% 50%;
    }

    &__status {
        background-color: #08B22D;
        border: 2px solid $white;
        border-radius: 20px;
        width: 0.7rem;
        height: 0.7rem;
        position: relative;
        bottom: -1.4rem;
        right: -1.4rem;;
    }
}

// message bubbles styles
.message {
    width: fit-content;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.45rem;
    width: 100%;
    padding: 0.7rem 0.5rem 0.7rem 0.95rem;

    &--Mia {
        border-radius: 0rem 0.625rem 0.625rem 0.625rem;;
        background-color: $chat-gray;
        color: $chat-black;
    }

    &--You {
        color: $white;
        border-radius: 0.625rem 0rem 0.625rem 0.625rem;
        background: $chat-navy;
    }

    &--loading {
        border-radius: 20rem;
        padding: 0.75rem 1rem;
        width: fit-content;
        @include flexbox(center, center);
        column-gap: 0.4rem;
    }

    &__container {

        &--Mia {
            @include flexbox(flex-start, flex-start);
            column-gap: 0.4rem;
            margin-left: 1rem;
        }
    }

    &__content {
        width: 17.6rem;
        @include flexbox(flex-start, flex-start, column);

        &--You {
            margin-left: 3.4rem;
            align-items: flex-end;
        }
    }

    &__avatar {
        background-color: $chat-navy;
        border-radius: 20px; 
        width: 2rem;
        height: 2rem;
        @include flexbox(center, center);
    }

    &__options {
        @include flexbox(flex-start, flex-start, row, wrap, 0.6rem);
    }

    &__option {
        border-radius: 0.25rem;
        background-color: transparent;
        border: 0.5px solid $chat-navy;
        color: $chat-navy;
        font-weight: 600;
        padding: 0.48rem 0.77rem;
        cursor: pointer;

        &--clicked {
            background-color: $chat-navy;
            color: $white;
        }
    }

    &__info {
        color: $black;
        font-weight: 600;
        margin-bottom: 0.1rem;

        &--You {
            margin-left: auto;
        }
    }
}

.loading__ball {
    width: 0.6rem;
    height: 0.6rem;
    background-color: #767D89;
    border-radius: 10px;
}