@use '../../styles/partials/global' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.chat-box {
    background-color: red;
    border-radius: 10px;

    width: 23.7rem;
    height: 33.5rem;
}